<div class="container">
	<h2> Users Information </h2>
	<ul>
		<li><%= data.name %></li>
		<li><%= data.lastName %></li>
		<li><%= data.userName %></li>
		<li><%= data.email %></li>
	</ul>

	<br>
	<table>
		<tr>
			<td>
				<form action="/user/edit/<%= data.id %>" method="POST" accept-charset="utf-8">
					<button class="btn btn-primary" type="submit">Edit</button>
				</form>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/user/table_user"> <button class="btn btn-warning" type="submit">Table User</button></a>
			</td>
		</tr>
	</table>
</div>